/* #intro_text_1 {
  opacity: 0;
  animation: fadeIn 400ms forwards ease-in;
  animation-delay: 300ms;
}

#intro_text_2 {
  opacity: 0;
  animation: fadeIn 400ms forwards ease-in;
  animation-delay: 1250ms;
}

#intro_texts_div {
  opacity: 0;
  animation: fadeOut 400ms forwards ease-in;
  animation-delay: 2000ms;
} */

/* #home_init_div_left {
  transform-origin: bottom left;
  animation: fadeOutLeft 415ms forwards ease-in;
  animation-delay: 400ms;
}

#home_init_div_right {
  transform-origin: bottom right;
  animation: fadeOutRight 415ms forwards ease-in;
  animation-delay: 400ms;
} */

@keyframes fadeOutLeft {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  100% {
    transform: rotate(-30deg) translateX(-100%);
  }
}

@keyframes fadeOutRight {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  100% {
    transform: rotate(30deg) translateX(100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
